//variables
$background-color: #00b6ff;
$color: #fff;
$font-container: 'Open sans', sans-serif;

* { box-sizing: border-box; }
.main-carousel {
    position: relative;
}

.carousel-cell {
    width: 100%; /* full width */
    min-height: 250px; /* height of carousel */
    margin-right: 10px;
}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 26px;
    font-family: $font-container;
}

.img {
    height: 500px;
    width: 100%;
    background-size: cover;
}

ol.flickity-page-dots {
    display: none;
}

.button {
    font-size: 22px;
    background-color: $background-color;
    color: $color;
    border: none;
    position: absolute;
    top: 40px;
    left: 10px;
}
  
.button-group {
    margin-bottom: 20px;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #00b6ff;
}

#map {
    height: 500px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
